# Code-signing certificate request

[ req ]
default_bits            = 4096                  # RSA key size
encrypt_key             = yes                   # Protect private key
default_md              = sha1                  # MD to use
utf8                    = yes                   # Input is UTF-8
string_mask             = utf8only              # Emit UTF-8 strings
prompt                  = no                    # Prompt for DN
distinguished_name      = codesign_dn           # DN template
req_extensions          = codesign_reqext       # Desired extensions

[ codesign_dn ]
countryName             = "US"
stateOrProvinceName     = "Washington"
localityName            = "Redmond"
organizationName        = "Microsoft Corporation"
commonName              = "electionguard.vote"

[ codesign_reqext ]
keyUsage                = critical,digitalSignature
extendedKeyUsage        = critical,codeSigning
subjectKeyIdentifier    = hash
